@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../assets/fonts/Fonts-Lato/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/fonts/Fonts-Lato/Lato-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: rgb(58, 58, 60);
}
:focus {
  outline: none;
  border: none;
}
.container {
  max-width: 1140px !important;
}

a {
  text-decoration: none;
}
input,
button,
select {
  outline: none;
}
button.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
ul {
  margin-bottom: 0px;
}
h1 {
  font-size: 43px;
  line-height: 71px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  line-height: 38px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 425px !important;
  }
  .header-top-wrapper {
    padding-right: 30px;
  }
  .navbar-brand img {
    max-width: unset !important;
    width: 130px;
    height: 22px;
  }
  .header-top-wrapper .header-imgs img {
    width: 50px;
  }
}
/* header css */
.gold-header {
  background-color: #fff7da;
}
.navbar {
  background-color: #3a3a3c;
}
.fnt-bld {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.call-btn {
  background: #2a83d1;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 45px;
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #2a83d1;
}
.call-btn svg {
  margin-bottom: 2px;
  margin-right: 7px;
}
.line {
  width: 2px;
  display: inline-block;
  background-color: #ffffff;
  height: 35px;
  display: block;
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translateY(-50%);
}

.active {
  color: #d9c26c;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.nav-item a {
  color: #ffffff;
}
.navbar-nav .nav-link.active,
.nav-link:hover,
.nav-link:focus {
  color: #d9c26c;
}
header nav .collapse ul li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.hr-divider {
  width: 1px;
  height: 32px;
  border: 1px solid #ffffff;
  margin: 0px 2px;
}

span.navbar-toggler-icon {
  font-size: 20px;
  display: flex;
  margin-top: 14px;
  color: rgb(61, 61, 62) !important;
}

span.navbar-toggler-icon img {
  margin-left: 5px;
  margin-top: 3px;
  width: 30px;
  height: 15px;
}

.fa-bars {
  font-size: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  header .m-icon {
    width: 45px;
    margin: 5px;
  }
  option {
    font-size: 12px !important;
  }
}

/* Css For Calculator Page */

.color-gold {
  color: #d9c26c;
}
.gold-border {
  border: 1px solid #f1d55b;
}
.zahn-border {
  border: 1px solid #d9c26c;
}
.silver-border {
  border: 1px solid #c9c9c9;
}

@media screen and (max-width: 767px) {
  .silver-border {
    margin-bottom: 15px;
  }
}

.platin-border {
  border: 1px solid #d6d3ca;
}

@media screen and (max-width: 767px) {
  .platin-border {
    margin-bottom: 15px;
  }
}

.silver .li1,
.silver .li1:last-child {
  background-color: #fcfcfa;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 767px) {
  .silver .li1:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.silver .li2 {
  background-color: #fff4ca;
}

@media screen and (max-width: 767px) {
  .silver .li2:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.value-calculate {
  background-image: url("../assets/img/bg-calc-value.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (max-width: 767px) {
  .value-calculate {
    background-image: url("../assets/img/mob-bg-calc-value.png");
  }
}

.value-calculate .value-calculate-input {
  display: flex;
  margin-bottom: 10px;
}

.value-calculate h2 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .value-calculate h2 {
    line-height: 38px;
  }
}

.value-calculate .lbl {
  font-size: 18.76px;
  color: rgb(58, 58, 60);
  line-height: 1.439;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  width: fit-content;
  margin-right: 28px;
}

@media screen and (max-width: 767px) {
  .value-calculate .lbl {
    width: 80px;
    margin-right: unset;
    font-size: 16px;
    text-align: left;
  }
}

.value-calculate input {
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: -0.035px 2px 3px 0px rgba(6, 0, 14, 0.2);
  width: 256px;
  height: 33px;
}

@media screen and (max-width: 767px) {
  .value-calculate input {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: -0.017px 1px 1px 0px rgba(12, 0, 21, 0.2);
    width: 350px;
    height: 30px;
  }
}

.value-calculate select {
  width: 350px;
  height: 33px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: -0.035px 2px 3px 0px rgba(6, 0, 14, 0.2);
  padding: 0px 10px;
}

@media screen and (max-width: 767px) {
  .value-calculate select {
    padding: 0px 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: -0.017px 1px 1px 0px rgba(12, 0, 21, 0.2);
    width: 350px;
    height: 30px;
  }
}

.value-calculate button {
  width: 255px;
  height: 33px;
  border: none;
  background-color: #2180d1;
  color: #ffffff;
  border-radius: 10px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .value-calculate button {
    padding: 0px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #2080d1;
    width: 196px;
    height: 28px;
  }
}

.select-line {
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgb(60, 60, 60);
  display: block;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .select-line {
    right: 9%;
    height: 20px;
  }
}

.current-metal-values {
  background-color: #fff4ca;
  padding: 25px 1px;
}

@media screen and (max-width: 767px) {
  .current-metal-values {
    padding: 15px 1px;
  }
}

.current-metal-values h2 {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .current-metal-values h2 {
    font-size: 30px;
    line-height: 38px;
    font-family: "OpenSans-Regular", sans-serif;
  }
}

.current-metal-values .value {
  font-size: 44px;
  font-weight: bold;
  color: rgb(57, 57, 60);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .current-metal-values .value {
    font-size: 30px;
    line-height: 36px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
  }
}

.current-metal-values .btn-values {
  background-color: #0087f6;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
  padding: 5px 20px;
  width: fit-content;
  color: #ffffff;
  cursor: pointer;
  margin: 15px 0px 25px 0px;
}

@media screen and (max-width: 767px) {
  .current-metal-values .btn-values {
    font-size: 18px;
    line-height: 20px;
    border-radius: 5px;
    margin: 15px 0px 10px 0px;
  }
}

.current-metal-values p {
  font-size: 18px;
  line-height: 26px;
}

.border-radius {
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .current-metal-values p {
    font-size: 18px;
    line-height: 26px;
  }

  .border-radius {
    border-radius: 5px;
  }
}

.pricing {
  padding: 35px 0px 30px 0px;
}

@media screen and (max-width: 767px) {
  .pricing {
    padding: 35px 0px 0px 0px;
  }
}

.pricing h3 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .pricing h3 {
    line-height: 40px;
  }
}

.pricing .pricing-gramm {
  border-radius: 11px;
  width: 105px;
  height: 41px;
  color: rgb(61, 61, 62);
  border: 1px solid #3a3a3c;
  background-color: #ffffff;
  padding: 10px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .pricing .pricing-gramm {
    font-size: 18px;
    line-height: 1.2px;
    text-align: left;
    width: 85px;
    height: 38px;
    border-radius: 5px;
    padding: 0px 10px;
  }
}

.pricing .gold-prices {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: rgb(61, 61, 62);
}

@media screen and (max-width: 767px) {
  .pricing .gold-prices {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 1.181;
    text-align: left;
  }
}

.pricing .gram-price {
  font-size: 14px;
  margin-top: -5px;
  color: rgb(58, 58, 60);
}

@media screen and (max-width: 767px) {
  .pricing .gram-price {
    font-size: 9.412px;
    margin-top: unset;
  }
}

.pricing .gold-wrapper {
  padding-left: 0px;
}

@media screen and (max-width: 992px) {
  .pricing .gold-wrapper {
    padding-right: 0px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 992px) {
  .pricing .platin-wrapper {
    padding-right: 0px;
  }
  .pricing .silver-wrapper {
    padding-right: 0px;
  }
}

.pricing .platin-wrapper {
  padding-right: 0px;
}

@media screen and (max-width: 992px) {
  .pricing .platin-wrapper {
    padding-right: 15px;
  }
}

.pricing .gold-gradiant {
  background-image: linear-gradient(
    -90deg,
    #f1d45c 0%,
    #efda79 52%,
    #f1d55d 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 24px;
  font-family: "OpenSans-ExtraBold";
  height: 58px;
}
.sie {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .pricing .gold-gradiant {
    font-size: 19px;
    line-height: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 53px;
  }
}

.pricing .zahngold-gradiant {
  background-image: linear-gradient(
    -90deg,
    #d9c16b 0%,
    #f7dd7b 52%,
    #d9c16b 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "OpenSans-ExtraBold";
  font-size: 24px;
  height: 58px;
}

@media screen and (max-width: 767px) {
  .pricing .zahngold-gradiant {
    font-size: 19px;
    line-height: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 53px;
  }
}

.pricing .silber-gradiant {
  background-image: linear-gradient(
    -90deg,
    #c9c9c9 0%,
    #efefef 52%,
    #c9c9c9 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 24px;
  font-family: "OpenSans-ExtraBold";
  height: 58px;
}

@media screen and (max-width: 767px) {
  .pricing .silber-gradiant {
    font-size: 19px;
    line-height: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 53px;
  }
}

.pricing .platin-gradiant {
  background-image: linear-gradient(
    -90deg,
    #cdc9c1 0%,
    #f5f1e9 52%,
    #d5d3c9 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 24px;
  font-family: "OpenSans-ExtraBold";
  height: 58px;
}

@media screen and (max-width: 767px) {
  .pricing .platin-gradiant {
    font-size: 19px;
    line-height: 32px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 53px;
  }
}

.pricing .palladium-gradiant {
  background-image: linear-gradient(
    -90deg,
    #cdc9c1 0%,
    #f5f1e9 52%,
    #d5d3c9 100%
  );
  height: 58px;
  font-size: 24px;
  font-family: "OpenSans-ExtraBold";
}

@media screen and (max-width: 767px) {
  .pricing .palladium-gradiant {
    font-size: 19px;
    line-height: 32px;
    height: 53px;
  }
}

.pricing li {
  height: 58px;
}

@media screen and (max-width: 767px) {
  .pricing li {
    height: 53px;
  }
}

.current-value {
  background-color: #fff4ca;
  border-radius: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .current-value {
    border-radius: 0;
  }
}

.current-value .kostenlos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .current-value .kostenlos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.current-value .kostenlos {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #3a3a3c;
  border-radius: 20px;
  padding: 15px 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 4px;
  max-width: 350px;
  width: 350px;
}

.current-value .kostenlos .sold_out {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  letter-spacing: inherit;
  background-color: #2a83d1;
  padding: 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  width: 200px;
  -webkit-transform: rotate(48deg) scale(0.75, 1);
  transform: rotate(48deg) scale(0.75, 1);
  position: absolute;
  right: -62px;
  top: 27px;
  text-transform: uppercase;
}

.current-value .kostenlos input {
  background-color: #fff7da !important;
  border-radius: 10px;
  height: 36px;
}

.current-value .kostenlos .btn-bg {
  background-color: #2180d1;
  color: #ffffff;
  height: 28px;
  border: none;
  font-size: 16px;
}

.current-value .kostenlos .garantierte {
  background-color: #3a3a3c;
  margin-bottom: -8px;
  z-index: 11;
  position: relative;
  font-size: 14px;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
}

.current-value .kostenlos .trusted-shops {
  border-color: #d9c26c !important;
}

.current-value .kostenlos .trusted-shops h5 {
  font-family: "Lato-Black", sans-serif;
}

.current-value .kostenlos .trusted-shops h6 {
  font-family: "Lato-Regular", sans-serif;
}

.current-value .kostenlos .star-clr {
  color: #f2b724;
}

.current-value .kostenlos p {
  font-size: 10px;
  line-height: 14px;
  font-family: "OpenSans-Regular", sans-serif;
}

.current-value .current-value-left {
  padding-top: 50px;
}

.current-value h2 {
  font-size: 30px;
  line-height: 39px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .current-value h4 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
  }
}

.current-value .current-price {
  font-size: 46px;
  line-height: 58px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(57, 57, 60);
}

@media screen and (max-width: 767px) {
  .current-value .current-price {
    font-size: 30px;
    line-height: 36px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-top: 20px;
  }
}

.current-value .calc-table {
  max-width: 615px;
  padding-left: 25px;
}

@media screen and (max-width: 992px) {
  .current-value .calc-table {
    padding-left: 0px;
    width: 100%;
  }
}

.current-value .calc-table h5 {
  background-color: #e4cc5f;
}

@media screen and (max-width: 767px) {
  .current-value .calc-table h5 {
    font-size: 18px;
    line-height: 20px;
  }
}

.current-value .calc-table table {
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .current-value .calc-table table {
    font-size: 16px;
    line-height: 20px;
  }
}

.current-value .calc-table tbody tr td {
  border-bottom: 1px solid #39393c;
}

.current-value .calc-table tbody tr:last-child td {
  border-bottom: none;
  color: rgb(57, 57, 60);
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 25px solid #eecd56;
  border-bottom: 25px solid transparent;
  margin-left: 50px;
  display: block;
}

.triangle-down {
  display: none;
  width: 0;
  height: 0;
  margin-top: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid #eecd56;
}

@media screen and (min-width: 280px) and (max-width: 370px) {
  .navbar-brand img {
    max-width: unset !important;
    width: 105px;
    height: 20px;
  }
  .current-metal-values .btn-values {
    text-align: center;
  }
  .kostenlos h5 {
    font-size: 16px;
  }
  .current-value .kostenlos .sold_out {
    right: -68px;
    font-size: 14px;
  }
  .current-value .kostenlos .btn-bg {
    font-size: 14px;
  }
  .current-value .kostenlos .garantierte {
    font-size: 12px;
  }
  .trusted-shops img {
    width: 80px;
    height: 80px;
  }
  .current-value .kostenlos .star-clr {
    font-size: 12px;
  }
  .current-value .kostenlos p {
    font-size: 8px;
    line-height: 12px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1100px) {
  .value-calculate button {
    width: 230px;
  }
  .value-calculate select {
    width: 250px;
  }
  .select-line {
    right: 80px;
  }
  .current-value .kostenlos .btn-bg {
    font-size: 14px;
  }
  .current-value .kostenlos .sold_out {
    width: 180px;
  }
  .Kostenlos-heading {
    font-size: 18px;
  }
  .current-value .kostenlos .garantierte {
    font-size: 12px;
  }
  .trusted-shops img {
    width: 70px;
    height: 70px;
  }
  .trusted-shops h5 {
    font-size: 20px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 801px) and (max-width: 992px) {
  .header-top-wrapper {
    padding-right: 0px !important;
  }
  .header-top-wrapper .navbar-brand img {
    width: 200px;
  }
  .header-top-wrapper .header-imgs img {
    width: 55px;
  }
  .proven-expert-img {
    width: 66px !important;
  }
  span.navbar-toggler-icon {
    margin-right: 40px;
  }

  .select-line {
    right: 13%;
  }
  .lbl {
    width: 70px !important;
    margin-right: 5px !important;
  }
  .value-calculate input {
    width: 200px;
  }
  .value-calculate select {
    width: 260px;
  }
  .value-calculate .btn-calculate {
    width: 220px;
  }
  .header-top-wrapper {
    padding-right: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  .header-top-wrapper {
    padding-right: 0px !important;
  }
  .header-top-wrapper .navbar-brand img {
    width: 200px;
  }
  span.navbar-toggler-icon {
    margin-right: 40px;
  }
  .header-top-wrapper .header-imgs img {
    width: 55px;
  }
  .proven-expert-img {
    width: 66px !important;
  }
  .select-line {
    position: absolute;
    right: 13%;
  }
  .lbl {
    width: 65px !important;
    margin-right: 5px !important;
  }
  .value-calculate input {
    width: 180px;
  }
  .value-calculate select {
    width: 300px;
  }
  .value-calculate button {
    width: 210px;
  }
  .header-top-wrapper {
    padding-right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .gold-header {
    position: sticky;
    top: 0px;
    z-index: 999;
  }
  .navbar-expand-lg .navbar-collapse {
    position: absolute;
    background-color: #3a393e;
    width: 300px;
    height: 250px;
    overflow-y: auto;
    z-index: 999;
    top: 100%;
    right: 0;
  }
  .navbar-expand-lg .navbar-collapse li.nav-item a.nav-link {
    color: #ffffff;
    padding: 10px 15px;
    display: block;
  }
  .nav-item {
    height: 100%;
  }
  .navbar-expand-lg .navbar-collapse li.nav-item a.nav-link.active {
    background-color: #d9c26c;
  }
  .navbar-toggler {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }

  .triangle-right {
    display: none;
  }

  .triangle-down {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  span.navbar-toggler-icon {
    margin-right: 40px;
  }
}

.footer_section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../assets/img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
